# -----------------------------------------------------------------------------
# Misc
# -----------------------------------------------------------------------------

snippet #! "#!/usr/bin/env " b
#!/usr/bin/env ${1:command}
$0
endsnippet

snippet box "Header box" b
# -----------------------------------------------------------------------------
# ${1:header}
# -----------------------------------------------------------------------------

$0
endsnippet

