# .gitconfig
#
# Git configuration file

[alias]
	a = add
	b = branch -a
	c = commit
	d = diff
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	ll = log --date=relative -10 --pretty=format:'%h  %>(12)%ad  %<(7)%aN %d %s'
	r = remote -v
	s = status -s
	t = tag -l

	cm = commit -m
	co = checkout
	st = status

[core]
	editor = vim

[help]
	autocorrect = 1

[push]
	default = simple

[user]
	name = Zaid Kokaja
	email = zkokaja@gmail.com

[github]
	user = zkokaja
