# -----------------------------------------------------------------------------
# Core settings
# -----------------------------------------------------------------------------

# User settings
[user]
    name = Zaid Kokaja
    email = zkokaja@gmail.com

[github]
    user = zkokaja

# Misc settings
[core]
    editor = vim

[push]
    default = simple

[color]
    ui = true

[help]
    autocorrect = 1

# -----------------------------------------------------------------------------
# Aliases
# -----------------------------------------------------------------------------

[alias]
    a = add
    b = branch -a
    c = commit
    d = diff
    r = remote -v
    s = status -s
    t = tag -l

    cm = commit -m
    co = checkout
    st = status

    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    ll = log --date=relative -10 --pretty=format:'%h  %>(12)%ad  %<(7)%aN %d %s'
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

