# Ignore everything
*

# But not these files
!.gitignore
!README.md
!local/bin/README.md
!macos/README.md
!init
!config/bash/bashrc
!config/conda/condarc
!config/dircolors/dircolors
!config/dircolors/onehalf-light
!config/dircolors/solarized-dark
!config/git/config
!config/nvim/init.vim
!config/readline/inputrc
!config/tmux/tmux.conf
!config/vim/.ctags
!config/vim/custom_snippets/all.snippets
!config/vim/custom_snippets/custom_snippets/all.snippets
!config/vim/custom_snippets/custom_snippets/make.snippets
!config/vim/custom_snippets/custom_snippets/markdown.snippets
!config/vim/custom_snippets/custom_snippets/pandoc.snippets
!config/vim/custom_snippets/custom_snippets/python.snippets
!config/vim/custom_snippets/custom_snippets/sh.snippets
!config/vim/custom_snippets/make.snippets
!config/vim/custom_snippets/markdown.snippets
!config/vim/custom_snippets/pandoc.snippets
!config/vim/custom_snippets/python.snippets
!config/vim/custom_snippets/sh.snippets
!config/vim/vimrc
!config/zsh/.zprofile
!config/zsh/.zshrc
!config/zsh/zprofile
!config/zsh/zshenv
!config/zsh/zshrc
!local/bin/calc
!local/bin/mbox2csv
!local/bin/mbox2files
!local/bin/print24bitcolors
!local/bin/print256colors
!local/bin/printcolorgrid
!local/bin/printcolorramp
!local/bin/word2nato
!local/bin/stats.c
!macos/Brewfile
!macos/Brewfile-extras
!macos/DefaultKeyBinding.dict
!macos/macos
