# Ignore everything
*

# But not these files
!.gitignore
!README.md
!init

# But descend into directories
!*/

# Allow macos dir (recursively)
!/macos/**
/macos/*.lock.json

# Allow custom binaries
!/local/bin/*
/local/bin/rmapi

# Allow these config dirs
!/config/bash/*
!/config/conda/*
!/config/git/*
!/config/readline/*
!/config/dircolors/*
!/config/tmux/*
/config/tmux/*.local
/config/tmux/plugins
!/config/vim/*
!/config/nvim/*
!/config/zsh/*
/config/zsh/.zcompdump
/config/zsh/*.local
!/config/dircolors/*
